<mat-card class="h-25">
  <mat-card-header>
    <p>
      Chapters Per Day
    </p>
    <mat-icon class="absolute right-0 top-0 mt-4 mr-4" color="primary">filter_2</mat-icon>
  </mat-card-header>
  <mat-card-content class="card-content-height">
    <div class="flex items-center w-full h-full">
      <p style="font-size: 96px; letter-spacing: -12px" class="text-accent -m-2 font-bold text-center w-2/3 sm-3:w-1/2 mb-0">{{chapters}}</p>
      <div class="flex flex-col w-1/3 sm-3:w-1/2 items-center justify-center ml-auto">
        <button (click)="increment()" (mousedown)="up = true" (mouseup)="up = false" class="outline-none h-5 w-6 flex justify-center items-center">
          <svg class="h-2 w-4 fill-primary" [ngClass]="{'fill-accent': up && chapters < 12, 'fill-warn': up && chapters === 12}">
            <polygon points="0,16 16,0 32,16" />
          </svg>
        </button>
        <button (click)="decrement()" (mousedown)="down = true" (mouseup)="down = false" class="outline-none h-5 w-6 flex justify-center items-center">
          <svg class="h-2 w-4 fill-primary" [ngClass]="{'fill-accent': down && chapters > 0, 'fill-warn': down && chapters === 0}">
            <polygon points="0,0 16,16 32,0" />
          </svg>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
