<mat-card class="sm-3:h-25">
  <mat-card-header>
    <p>
      Delivery Time (24hr)
    </p>
    <mat-icon class="absolute right-0 top-0 mt-4 mr-4" color="primary">access_time</mat-icon>
  </mat-card-header>
  <mat-card-content class="card-content-height">
    <div class="flex items-center justify-center h-full">
      <h2 *ngIf="!editing" class="w-full flex justify-center">
        <span class="text-accent">{{time}} {{timeZone}}</span>
        <mat-icon class="cursor-pointer ml-2 text-primary-light" (click)="onEditMode()">create</mat-icon>
      </h2>
      <form (ngSubmit)="onDoneEditing()" *ngIf="editing" [formGroup]="form" class="flex flex-wrap justify-center items-center w-full h-full">
        <mat-form-field [floatLabel]="'never'" class="text-lg w-16 pb-1 text-accent">
          <input #timeControl="matInput" matNativeControl type="time" (input)="changed = true" formControlName="time"
            placeholder="Time of Day">
        </mat-form-field>
        <mat-form-field [floatLabel]="'never'" class="text-lg flex-grow ml-2 text-accent w-auto">
          <mat-select formControlName="timeZone" (selectionChange)="changed = true">
            <mat-option *ngFor="let timeZone of timeZones" [value]="timeZone.value">{{timeZone.label}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-icon tabindex="0" [color]="form.valid ? 'primary' : 'warn'" class="save-icon" [ngClass]="changed && form.valid ? 'save-icon-active' : ''"
          (click)="onDoneEditing()" (keydown.enter)="onDoneEditing()">{{form.valid ? 'check' : 'close'}}</mat-icon>
      </form>
    </div>
  </mat-card-content>
</mat-card>
