<main class="mat-typography sm-3:w-75 p-8 mx-auto">
  <p class="italic text-center">Take Up and Read</p>
  <mat-divider></mat-divider>
  <h2 class="mt-4">
    What is Bible Reminder 365?
  </h2>
  <p>
    A service that emails you the next few chapters of your personal Bible reading plan every single day.
  </p>
  <p>
    When signing up, simply choose your preferences (translation, number of chapters, time of day, etc.), hit submit,
    and — BAM!
    — the entire Bible is on its way to your inbox in manageable chunks, just like you were hoping.
  </p>
  <p>
    Example: You signed up to receive 2 chapters of the KJV sent to you at 6:00am daily. If today you received Nehemiah
    3 and
    4, tomorrow at 6:00am you can expect to find an email containing the entire text of Nehemiah 5 and 6. The day after
    that?
    Nehemiah 7 and 8 will arrive, formatted and ready for visual consumption right in your favorite email application.
  </p>
  <h2>
    What WON’T this service do?
  </h2>
  <h3>
    1. Read the Bible for you
  </h3>
  <p>
    After all, your motivation to find such a tool was (hopefully) to add regularity to YOUR Bible reading habits, so
    we’ve made
    it so the Bible gets in front of your eyeballs daily, but you’ll have to take it from there.
  </p>
  <h3>
    2. Email you a bunch of nonsense
  </h3>
  <p>
    Other than one welcome email (seemed like the polite thing to do), we won’t bother you with ANYTHING else. Promise.
    That
    would be super annoying.
  </p>
  <p>
    Also, your email address is securely stored away from prying eyes and ex-boyfriends, and we have no interest or
    intention
    of selling your information to anyone for any reason.
  </p>
  <h2>
    So what are you waiting for?
  </h2>
  <p>
    You know you want to read the Bible more, and that's awesome! Get these emails rolling right away, and once you're
    set up--pick
    up your Bible and do some reading!
  </p>
  <div class="flex">
    <button [routerLink]="['/newplan']" mat-raised-button color="accent" class="mx-auto">
      Get Started
    </button>
  </div>
  <div class="text-center mt-8">
    &copy; 2018 tehpsalmist
  </div>
</main>
